/* ========== HEADER LAYOUT ========== */


header {
  background-color: #dfdfdf;
  padding-top: 15px;
  text-align: center;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f2f4f8;
}

.header-top {
  position: relative;
  height: 60px;
}


.Title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}



/* LOGIN */

.login-left {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}


.login {
  text-decoration: none;
  color: black;
}

/* ========== NAV LINKS ========== */
.main-nav {
padding: 20px;
}

.nav-row {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.nav-row a {
  text-decoration: none;
  color:black;
  padding-left: 10px;
}

.nav-row a:hover {
  color: #ff9900;
}

/* Center the second row */
.second-row {
  justify-content: center;
}


/* LOGIN PAGE */
.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-form {
  background: #e3e3e3;
  padding: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form input {
  padding: 8px;
  border: none;
}

.login-form button {
  padding: 8px;
  border: none;
  background: #aaa;
  color: black;
}
